@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    color: white;
}

a{
    text-decoration: none;
}

body{
    background-image: url(./assets/universo-bg.jpg);
    background-size: cover;
}

header{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo{
    width: 250px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img{
    width: 40%;
    height: auto;
}

.texto-menu{
    font-family: 'Bebas Neue', sans-serif; 
    font-size: 1.4rem;
    padding-left:6px;
}

.social{
    width: 130px;
    display: flex;
    justify-content: space-around;
}

.social > i {
    font-size: 1.2rem;
}

.social >i:hover{
    color: gold;
}


.main-content{
    width: 95%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 10px;
    padding: 0 20px;
}

.main-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px 0;
}

.main-container > h2 {
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 20px;
    color: gold;
    font-weight: 300;
}

.card{
    width: 320px;
    height: 470px;
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    align-items: end;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s;
    padding: 5px;
}

.card:hover{
    transform: scale(1.02);
}

.foto-name-bg{
    width: 100%;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.foto-name{
    font-family: 'Bebas Neue', sans-serif; 
    color: gold;
    font-size: 1rem;
}

.buttons{
    width: 77%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

button{
    width: 70px;
    height: 25px;
    background-color: gold;
    color: #000;
    font-weight: 700;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #000;
    outline: none;
    transition: 0.3s;
}
button:hover{
    background-color: #000;
    color: gold;
}

#back-button{
    visibility: hidden;
}

footer{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
    margin: 40px 0 20px 0;
}

.footer-logo{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}

.copyright{
    font-weight: 500;
}

.modal{
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
}

.modalContent{
    width: 25vw;
    height: 50vh;
    background-color: #000;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 30px 10px;
    align-items: center;
    
}

.fotoModal{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-position: 50% 10%;
    background-size: cover;
}

.characterDetails{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1rem;
    font-weight: lighter;
    color: gold;
}

.menuMobile{
    display: none;
}

@media screen and (max-width: 500px) {
    .menuMobile{
        display: block;
        
        
    }

    .logoMobile {
        display: flex;
        justify-content: center;
        padding-top: 35px;
    }


    header{
        display: none;
    }
    .main-container > h2 {
        font-size: 1.5rem;
        text-align: center;
        padding: 18px;
    }

    .foto-name-bg{
        border-radius: 5px;
        height: 60px;
        background-color: rgba(0, 0, 0, 0.8);
    }

    .foto-name{
        font-size: 1.6rem;
    }

    .modalContent{
        width: 80vw;
        height: auto;
        background-color: gold;
    }

    .characterDetails{
        color: #000;
    }

    .buttons{
        width: 86%;
    }

    button{
        width: 70px;
        height: 35px;
    }

    
  }